<section class="hero is-fullheight has-text-centered is-bold is-primary" id="splashPage">
    <div class='container'>
        <div class="columns is-mobile is-centered">
            <a href="/surveys">
                <img src="https://raw.githubusercontent.com/qchen3301/survey-app/master/public/assets/wall_titan_transparent.png">
            </a>
        </div>
    </div>
</section>
