<h1>Edit Survey</h1>
<h2>I'm in answers/edit</h2>
<!--Model Three form-->
IM HEEEEREEE
<div>
{{#each quest.answers}}
{{this.value}}<br>
{{/each}}
</div>

<form action='/surveys/{{uGotServed}}/questions/{{uGotQuest}}/answers/deleteAll?_method=DELETE' method='POST'>
  <input type='submit' value='Create New Choices'>
</form>
<form><input type='button' value='Back' onClick='history.back()'></form>