<h1>New Answers</h1>

<form action='/surveys/{{surveyId}}/questions/{{questionId}}/answers' method='POST'>
  <div>1st choice:<input type='text' name='value'></div>
  <div>2nd choice:<input type='text' name='value'></div>
  <div>3rd choice:<input type='text' name='value'></div>
  <div>4th choice:<input type='text' name='value'></div>
  <div>5th choice:<input type='text' name='value'></div>
  <div><input type='submit' value='Add Question to Survey'></div>
</form>