#indexHeroFlavorText {
  background-image: url(https://raw.githubusercontent.com/qchen3301/survey-app/master/public/assets/mongo_titan.jpg);
  background-color: rgb(100, 98, 98);
  background-blend-mode: multiply;
  background-size: 100% 100%;
  font-family: 'UnifrakturCook', cursive;
}


#indexSectionBackground {
  background-image: url(https://raw.githubusercontent.com/qchen3301/survey-app/master/public/assets/mongo_wall.jpg);
  background-color: rgb(100, 98, 98);
  background-blend-mode: multiply;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: 'UnifrakturCook', cursive;
}

#showFooter, #editFooter, #newFooter {
  background-color: black;
  font-family: 'UnifrakturCook', cursive;
}