<section class="hero is-medium is-bold is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        O, mein Freund! Jetzt hier ist ein Sieg
      </h1>
      <h2 class="subtitle">
        <a href='/surveys/new'>Dies ist der erste Glorie</a>
      </h2>
    </div>
  </div>



</section>
<h1>Oh Mei friend!</h1>
<a class="btn btn-danger btn-large" href='/surveys/new'>( new )</a>

<div>
  {{#each surveys}}
  <div>Survey: {{this.title}} <a href='/surveys/{{this._id}}'>Go to survey</a></div>
  <div>Author: {{this.author}}</div>
  {{/each}}
</div>