<section class="section is-large has-background-success">
  <div class="columns is-mobile is-centered">
    <div class="card">
      <div class="card-content">
        <form action='/surveys' method='POST'>
        <input class="input" type="text" name="title" placeholder="Sind die sin Essen">
        <input class="input" type='text' name='author' placeholder="Nein Wie est Die Jaeger">
        <input class="button is-link" type="submit" value="Create Neue Survey">
        </form>
      </div>
    </div>
</div>
</section>