<section class="section is-large" id="newSurveyInit">
  <div class="columns is-mobile is-centered is-two-fifths" id="newSurveyCenter">
    <div class="card">
      <div class="card-content">
        <div class="field">
          <form action='/surveys' method='POST'>
            <label class="label">Title of Survey</label>
            <div class="control">
            <input class="input is-large is-danger" type="text" name="title" placeholder="Sind die sin Essen">
            </div>
            <label class="label">Authorship</label>
            <div class="control">
            <input class="input is-large is-danger" type='text' name='author' placeholder="Nein Wie est Die Jaeger">
            </div>
            <br><input class="button is-link" type="submit" value="Create New Survey">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section is-small" id="newFooter">
  <h1 class="title">
    <a href='/surveys'>Ressentiment</a>
  </h1>
</section>

