<h1>Add a question to this survey</h1>

<form action='/surveys/{{surveyId}}/questions' method='POST'>
  <div>Query:<input type='text' name='query'></div>
  <div><input type='submit' value='Add Question to Survey'></div>
</form>